// Шапка сайта
header.site-header

  // Навигационное меню
  nav.dark.top
    .page-container
      // Блок под навигицаю
      .nav-top__container.row.d-flex.justify-content-between
        include ../includes/common/nav-menu
        include ../includes/common/phone

  // Блок с логотипом и именем брэнда
  main(class=smallHeader ? 'small' : '')
    .page-container
      .c-row
        .c-col
          img.logo(src="img/logo.png", alt="logo")
        .c-col
          h1 CitiesNearby
          p С нами города стали еще ближе
      .c-row
        .angle-down.text-blue
          i.fas.fa-angle-down
