include ../includes/common/header.pug

block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")

    link(rel="stylesheet", href="css/style.min.css")

    title #{pageTitle}
  body.login
    .login-container.col.align-items-center
      +header(pageTitle)(class='h-center')
      block content
