include ../includes/index/chunks/principle-card.pug
include ../includes/common/header.pug
include ../includes/index/chunks/trust-card.pug
include ../includes/index/chunks/stock-card.pug
include ../includes/search/chunks/flight-card.pug
include ../includes/booking/chunks/flight-info.pug
include ../includes/booking/chunks/passenger.pug

block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=400")

    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="css/all.min.css")

    title СitiesNearby
  body
    include header.pug

    main.site-content#js-ajax-content
      block content

    include footer.pug
    script(src="./js/jquery-3.5.1.min.js")
    script(src="./js/main.js")
