// Меню навигации
ul.nav-menu__list.d-flex.justify-content-between.unmarked
  li.nav-menu__item
    a.nav-menu__link.test-0-nav-1(href="/#stock") Акции
  li.nav-menu__item
    a.nav-menu__link.test-0-nav-2(href="/#search-form") Поиск
  li.nav-menu__item
    a.nav-menu__link.test-0-nav-3(href="/#flight-registration") Регистрация на рейс
  li.nav-menu__item
    a.nav-menu__link.test-0-nav-4(href="profile.html") Личный кабинет
