// Информация о полете Обратно
section.back.no-border.one
  .page-container
    +header('Обратно')
    main.lh-offset-small
      +flight-info(1, 'A165DF', "Bombardier CRJ200", {
        city1: 'Kazan',
        city2: 'Moscow',
        airport1: 'Kazan',
        airport2: 'Sheremetevo',
        date1: '11.11.20',
        time1: '14:40',
        time2: '13:30',
        variety: 67,
        price: 9500
      })
