// Информация о итоговой стоимости
section.final-price.no-border.one
  .page-container
    +header('Финальная стоимость')
    main.text-center
      h1
        | 18000
        i.fas.fa-ruble-sign
      button Бронировать
