// Информация о полете Туда
section.there.no-border.one(class=booking_dark ? 'dark bg-dark' : '')
  .page-container
    +header('Туда')
    main.lh-offset-small
      +flight-info(1, 'A165DF', "Bombardier CRJ200", {
        city1: 'Moscow',
        city2: 'Kazan',
        airport1: 'Sheremetevo',
        airport2: 'Kazan',
        date1: '10.11.20',
        time1: '14:40',
        time2: '13:30',
        variety: 43,
        price: 6000
      })
