include chunks/principle-card.pug
include ../common/lheader.pug

section.accumulation-principle.dark.bg-black-blue-grad
  .page-container
    +lheader("Принцип накопления")
    main.lh-offset
      +principle-card("Принцип номер один")
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore odit facere reprehenderit dolores quos recusandae sint velit voluptate minus libero!

      +principle-card("Принцип номер два")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quia nobis dignissimos doloribus iure sequi.

      +principle-card("Принцип номер три")
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quisquam quas tenetur facilis, optio nobis? Reiciendis impedit enim ducimus dolorum quod consequatur tenetur consequuntur ipsa explicabo tempora pariatur saepe fugiat vel et ex ea, modi sint similique, incidunt officia commodi ipsam quibusdam. Qui, quos eum! Natus vero soluta hic dolor?
