// Блок акций
section.stock
  .page-container
    +header('Наши акции')
    main.lh-offset
      .row.full-center
        +stock-card('Возврат и изменение авиабилетов', 1)
          | Пандемия изменила планы многих путешественников, но мы знаем, что она не будет длиться вечно.
          | Как только все это закончится, мы продолжим исследовать этот мир так, как мы привыкли.
          | Специальные правила, разработанные для этой сложной ситуации, помогут вам отменить поездку или отложить ее на более поздний срок.
        +stock-card('Хорошее предложение', 2)
          | Снова увидеть улицы, которые так много видели. Обнять своих любимых и оглянуться назад, чтобы увидеть, через что вы прошли. И думать о новых мечтах, которые будут такими особенными!
        +stock-card('Будем видеться почаще', 3)
          | С начала января мы расширяем географию полетов по России, чтобы вы могли чаще видеться со своими близкими. Выбирайте нашу компанию, чтобы лететь туда, где вас всегда ждут.
        +stock-card('Все снова идет своим чередом', 4)
          | С 10 августа мы возобновим полеты в Турцию. Рейсы из Москвы в Анталию будут выполняться ежедневно два раза в день, а рейсы по маршруту Москва-Даламан-три-семь раз в неделю.
