// Блок подписки
section.subscription
  .page-container
    +header('Подписка')(class='h-center')
    main
      form.col.full-center(method="POST")
        .input
          input#mail(type="text", name="mail", placeholder="Alexandr")
          span.input-icon
            i.fas.fa-at
          input#mail-domen(type="text", name="mail-domen", placeholder="yandex.ru")
        input(type="button", value="Подписаться")
