/* 
    Управление бронированием
*/
.booking-info__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-info__row .header {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 573px) {
    .booking-info__row h3 {
        font-size: 1.25em;
    }
}


/* 
    Карточка полета
*/
.flight-card {
    box-shadow: var(--shadow);

    border-radius: .5em;

    padding: 30px;

    margin-bottom: 30px;
}

.flight__heading {
    display: flex;

    align-items: center;
}

.flight__heading h4 {
    margin: 0;
}

.flight__heading {
    padding-bottom: 15px;
}

.flight__heading i {
    margin: 0 15px;
}

.flight__heading i, .flight__heading .flight__aircraft-name {
    color: var(--neutral-color);
}

.flight__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flight_data-el {
    margin: 5px 0;
    width: 48%;
}

.flight_data-el:nth-child(2n) {
    margin-left: 4%;
}

.flight_data-el {
    display: flex;
    justify-content: space-between;
}

.flight_data-el.cost,
.flight_data-el.availability {
    display: block;
    
    font-size: 1.5em;
    color: var(--dark-color);

    margin-top: 15px;
}

.flight_data-el.cost span,
.flight_data-el.availability span {
    margin-left: 15px;
}

.flight_data-el.cost i,
.flight_data-el.availability i {
    margin-left: 5px;
}

.flight__options {
    margin-top: 15px;

    text-align: right;
}


@media screen and (max-width: 624px) {

    .flight__data {
        flex-direction: column;
        align-items: center;
    }

    .flight_data-el {
        width: 100%;
    }

    .flight_data-el:nth-child(2n) {
        margin-left: 0;
    }

    .flight_data-el.cost,
    .flight_data-el.availability {
        text-align: center;
    }

    .flight__heading {
        justify-content: center;
    }
    
}

@media screen and (max-width: 470px) {

    .flight__options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flight__options .button {
        margin-top: 10px;
    }

}

@media screen and (max-width: 342px) {

    .flight__heading i,
    .flight__heading span {
        display: none;
    }

}


/* 
    Карточка пассажира
*/
.passenger-card {
    box-shadow: var(--shadow);
    border-radius: .25em;
    
    padding: 30px 10px;
    width: 90%;
    margin: 15px auto;
}

.passenger-card__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passenger-card label {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.passenger-card input {
    border: 1px solid var(--accent-color);

    width: 50%;

    padding: 5px 15px;

    margin-bottom: 15px;

    border-radius: .5em;
}

.passenger-card input[disabled] {
    background-color: #dcdfec;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 624px) {

    .passenger-card label {
        flex-direction: column;
        align-items: flex-start;
    }

    .passenger-card input[type=text] {
        width: 100%;
    }

}


.final-price {
    text-align: center;
}

.final-price h3 {
    font-size: 1.75em;
}

.passenger-card .my {
    margin: 5px 0;
}