/*
    Принципы накопления
*/
.acumulation {
    background-image: url(../../images/acumulation-bg.jpg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.acumulation .container {
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: .25em;
    background-color: rgba(35, 36, 53, 0.75);
}
.acumulation h2 {
    color: white;
}

.acumulation__inner {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    flex-wrap: wrap;
}

.acumulation-card {
    width: 250px;
    box-shadow: var(--shadow);

    border-radius: .5em;

    padding: 15px;

    margin-bottom: 30px;

    background-color: white;
}

.acumulation-card:not(:last-child) {
    margin-right: 30px;
}

.acumulation-card__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 869px) {

    .acumulation__inner {
        justify-content: center;
    }

}

@media screen and (max-width: 619px) {

    .acumulation__inner {
        flex-direction: column;
        align-items: center;
    }

    .acumulation-card {
        margin-right: 0 !important;
    }

}

.acumulation-card .icon {
    font-size: 2.5em;
}

.acumulation-card {
    text-align: center;
}



/*
    Доверие компании
*/
.trust-card {
    box-shadow: var(--shadow);

    border-radius: 1em;

    padding: 15px 30px;

    margin-bottom: 30px;
}



/*
    Поиск
*/
.search {
    background-image: url(../../images/search-bg.jpg);

    background-attachment: fixed;
    background-size: cover;
}

.search,
.search h2,
.search input,
.search select {
    color: white;
}

.search .container {
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: .25em;
    background-color: rgba(35, 36, 53, 0.75);
}

.search form {
    text-align: center;
}

.search .inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search .inputs label {
    width: calc(100% / 2 - 30px);

    display: flex;
    justify-content: space-between;

    margin: 5px;
}

.search .inputs label:nth-child(2n+1) {
    margin-right: 30px;
}

.search .inputs label input,
.search .inputs label select {
    width: 70%;

    background: transparent;
    border-bottom: 1px solid var(--accent-color);
}

.search .inputs label select {
    background: #00000080;
}

.search button {
    margin-top: 30px;
}



/*
    Акции
*/
.promotions__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    align-items: center;
}

.promotions-card {
    width: 400px;

    box-shadow: var(--shadow);
    border-radius: .5em;

    overflow: hidden;


    margin: 0 15px;
    margin-bottom: 30px;
}

.promotions-card img {
    width: 100%;
}

.promotions-card .descr {
    padding: 0 30px 30px 30px;
}

.promotions-card p {
    line-height: 1.5;

    font-size: 0.9em;
}

.promotions-card a.button {
    margin-top: 10px;
}



/*
    Подписка
*/
.subscription {
    background-image: url(../../images/clouds/cloud_064.png);
    background-attachment: fixed;
    background-position-x: -100px;
    background-position-y: -400px;
}

.subscription form {
    display: flex;

    flex-direction: column;

    align-items: center;
}

.subscription form input {
    border: 1px solid var(--accent-color);
    padding: 15px 30px;

    border-radius: .5em;

    font-size: 1.1em;

    width: 100%;

    text-align: center;
}

.subscription form button {
    width: 300px;
    margin-top: 30px;
}
