/**
  ================
  Главная страница
*/

// Карточка принципа накопления
.principle-card {
  h5 {
    margin: 0;
    margin-bottom: 15px;
  }

  article {
    padding: 15px;

    border: 1px solid $gray;
    @extend %shadowed;
  }

  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

// Карточка доверия
.trust-card {

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  span.user-img {
    font-size: 4.125em;

    i {
      margin-top: 45px;
    }
  }

  h6 {
    margin: 1rem 0;
  }

  article {
    padding: 15px;

    border: 1px solid $gray;
    @extend %shadowed;
  }
}

// Блок поисковой формы
section.search {
  background-color: $common-dark;
  background-image: url(../img/peolpe-in-car.jpg);
  background-size: cover;
  background-position-y: -45px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  form {
    margin: 0 auto;
    padding: 75px 0;

    font-size: 1.375em;

    .form-fields {
      margin-bottom: 30px;

      label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 320px;

        margin: 5px 0;
      }

      @include sm-screen() {
        .col, label {
          width: 100%;
        }
      }

      input, select {
        background: transparent;
        color: inherit;

        border: none;
        border-bottom: 2px solid $blue;

        padding: 5px 10px;

        &:focus {
          background-color: transparentize($gray, 0.75);
        }
      }


      input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(40%) sepia(60%) saturate(500%) hue-rotate(180deg);
      }

      input, select {
        width: 170px;
        height: 30px;
      }

      select option {
        background-color: $common-dark;
      }
    }
  }
}

// Карточка акции
.stock-card {
  width: 300px;
  padding: 0 15px;
  margin-bottom: 30px;

  .card-inner {
    @extend %shadowed;
  }

  img {
    width: 100%;
    height: 150px;

    border-radius: .25rem .25rem 0 0;
  }

  h6 {
    margin: 15px 0;
    padding: 0 15px;

    text-align: center;
  }

  article {
    padding: 0 10px;
  }
}

// Блок подписки
section.subscription {
  background-color: transparentize($gray, .95);

  main {
    padding-top: 30px;
  }

  form {
    .input {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      max-width: 800px;

      * {
        font-size: 1.375em;
      }

      input {
        background-color: $common-white;

        padding: 15px 30px;
        border: 1px solid $blue;

        color: $common-black;

        &:first-child() {
          width: 100%;

          border-right: none;
          border-radius: .25rem 0 0 .25em;
        }

        &:last-child() {
          text-align: right;
          border-left: none;
          border-radius: 0 .25rem .25rem 0;
          width: 150px;
        }
      }

      span.input-icon {
        padding: 15px;
        padding-bottom: 14px;

        border: 1px solid $blue;
        border-left: 1px solid transparentize($gray, .75);
        border-right: 1px solid transparentize($gray, .75);

        font-size: 1.15em;

        color: $gray;
        background-color: transparentize($gray, .9);
      }
    }

    input[type=button] {
      margin-top: 30px;
    }
  }
}
