body.login {
  background-color: $gray;

  .login-container {
    width: 500px;

    margin: 60px auto;
    padding: 30px;

    border-radius: .25em;

    background-color: $common-white;

    @extend %shadowed;

    form {
      label, input {
        margin-bottom: 15px;
      }

      label {
        width: 35%;
      }

      input {
        width: 60%;
        height: 35px;

        padding: 5px 15px;

        border: none;
        border-bottom: 1px solid $blue;
      }
    }
  }
}
