section.seat {
  .page-container > .row {
    padding: 60px 120px 30px 120px;
  }

  .page-container > .col {
    margin-top: 60px;

    .map {
      height: inherit;

      span {
        color: $dark-blue;

        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .separator {
      background-color: $gray;

      margin: 0 30px;

      width: 2px;
    }

    .seats {
      flex-direction: row;

      .col {
        width: 105px;
      }
    }

    .seat {
      width: 30px;
      height: 30px;

      border-radius: .25rem;

      margin: 10px 0;

      opacity: .75;
      background-color: $gray;

      cursor: pointer;

      transition: all .25s ease;

      &:nth-child(even) {
        margin-left: 15px;
      }

      &:not(.taken):hover, &.choosed {
        opacity: 1;
        background-color: $dark-blue;
      }

      &.taken {
        background-color: $black-blue;
        cursor: default;
      }
    }

    > .row {
      margin-bottom: 30px;
    }
  }

  select#passanger {
    flex-grow: 1;
    height: 35px;

    background: transparent;
    color: inherit;

    font-size: 1.15em;

    border: none;
    border-bottom: 2px solid $blue;

    margin-left: 30px;
    padding: 5px 10px;

    &:focus {
      background-color: transparentize($gray, 0.75);
    }
  }

  h6 {
    padding-bottom: 10px;
  }
}
