section.bookings
  .page-container
    +header('Бронирования')
    main.lh-offset
      +booking-card('TESTA', {
        date1: '2020-10-10',
        time1: '13:40',
        time2: '14:50',
        airport1: 'Sheremetevo',
        airport2: 'Kazan',
      })
