section.profile
  .page-container
    .row.align-items-center.heading
      h2.section-title.h-decoration.h-center.m0
        span Профиль
      button#exit.m0 Выход
    .profile-data
      .row.justify-content-between
        h6 Имя
        span#data-name Александр
      .row.justify-content-between
        h6 Фамилия
        span#data-surname Шаманин
      .row.justify-content-between
        h6 Количество полетов
        span#flight-count 3
