@import './common/global.scss';

/** index */

  /** Карточка принципов накопления */
section.accumulation-principle main {
  .principle-card {
    h5 {
      margin: 0;
      margin-bottom: 15px;
    }

    article {
      padding: 15px;

      border: 1px solid $gray;
      box-shadow: 0 0 10px 0 transparentize($color: $gray, $amount: .75)
    }

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

/** Карточка принципов накопления */
section.trust {
  .trust-card {

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    span.user-img {
      font-size: 4rem;

      i {
        margin-top: 45px;
      }
    }

    h6 {
      margin: 1rem 0;
    }

    article {
      padding: 15px;

      border: 1px solid $gray;
      box-shadow: 0 0 10px 0 transparentize($color: $gray, $amount: .75)
    }
  }
}
