// Заголовок
section.booking-management-header.one.no-border
  .page-container
    .row.col-lg.justify-content-between.align-items-center
      h3.heading.row.m0.justify-content-center-lg.text-center-sm
        | Информация о бронировании
        .booking-code.text-muted
          i.fas.fa-angle-right.d-none-md
          | №
          span.data TESTA
      h2.price.m0
        | 15000
        i.fas.fa-ruble-sign
