/*
    Шрифты
*/
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}


/*
    Сброс стилей
*/

html, body {
    margin: 0;
    padding: 0;

    font-size: 16px;

    font-family: 'Montserrat';
}

body.scroll-fix {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    outline: none;
    border: none;
    box-shadow: none;
}

ul, ul li {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a.light {
    color: white;
}

a:not(.no-decor) {
    position: relative;
}

a:not(.no-decor)::after {
    content: '';
    width: 100%;
    height: 1px;

    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;

    opacity: 0;

    transition: all .25s ease;
}

a:not(.no-decor):hover::after {
    opacity: 1;
}

a:not(.no-decor)::after {
    background-color: var(--accent-color);
}

a.dark::after {
    background-color: white;
}



/*
    Общие стили
*/
:root {
    --accent-color: #457cff;
    --dark-color: #355091;

    --section-border: 2px solid var(--accent-color);

    --shadow: 0 0 10px 0 rgb(91 134 255 / 0.3);

    --neutral-color: #808f9a;
}

.container {
    max-width: 1140px;
    min-width: 320px;
    padding-left: 30px;
    padding-right: 30px;

    margin: 0 auto;
    height: 100%;
}


@media screen and (max-width: 379px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

}


h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color);
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

body > section {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: var(--section-border);
}

body > section h2 {
    font-size: 2em;

    text-align: center;

    width: 100%;
    flex-shrink: 0;
}

button, input[type=button], a.button {
    border: 2px solid var(--accent-color);
    padding: 15px 30px;
    background-color: transparent;
    color: var(--accent-color);
    font-weight: bold;

    font-size: 1.1em;

    border-radius: .5em;

    transition: all .2s ease-in-out;
}

button:hover, input[type=button]:hover, a.button:hover {
    cursor: pointer;

    color: white;
    background-color: var(--accent-color);
}

a.button {
    padding: 5px 30px;

    font-size: 1em;
    display: inline-block;
}

a.button:hover::after {
    display: none;
}



/*
    Шапка
*/
header.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: var(--section-border);
}

header.header nav.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 70px;
    background-color: var(--accent-color);
    border: none;

    z-index: 100;

    transition: all .25s ease;
}

header.header nav.header-nav.top {
    background-color: white;
    border-bottom: 1px solid var(--accent-color);
}

header.header nav.header-nav.top a {
    color: black;
}

header.header nav.header-nav.top a::after {
    background-color: var(--accent-color);
}

nav.header-nav .header-nav__inner {
    padding-top: 15px;
    padding-bottom: 15px;
}

nav.header-nav .header-nav__inner,
nav.header-nav .header-nav__menu {
    height: 100%;
}

nav.header-nav .header-nav__menu {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

nav.header-nav .header-nav__menu li:not(:last-child) {
    margin-right: 60px;
}

.hedaer-nav__burger {
    width: 30px;
    height: 20px;

    margin: 0 auto;

    position: relative;

    margin-top: 15px;

    transition: all .25s ease-in-out;

    display: none;
}

.hedaer-nav__burger:hover {
    cursor: pointer;
}

.hedaer-nav__burger::after,
.hedaer-nav__burger::before,
.hedaer-nav__burger span {
    content: '';

    width: 100%;
    height: 1px;

    background-color: var(--accent-color);

    position: absolute;
    left: 0;
    right: 0;
}

nav.header-nav:not(.top) .hedaer-nav__burger::after,
nav.header-nav:not(.top) .hedaer-nav__burger::before,
nav.header-nav:not(.top) .hedaer-nav__burger span {
    background-color: white;
}

.hedaer-nav__burger::before {
    top: 0;
}

.hedaer-nav__burger span {
    top: 9px;
}

.hedaer-nav__burger::after {
    bottom: 0px;
}


@media screen and (max-width: 663px) {

    nav.header-nav .header-nav__menu li:not(:last-child) {
        margin-right: 30px;
    }

}


@media screen and (max-width: 590px) {

    .hedaer-nav__burger {
        display: block;
    }

    nav.header-nav .header-nav__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        height: auto;
    }

    nav.header-nav .header-nav__menu {
        flex-direction: column;
        justify-content: center;

        padding: 30px 0;

        background-color: white;

        opacity: 0;
        display: none;

        transition: all .25s ease;
    }

    nav.header-nav:not(.top) .header-nav__menu {
        background-color: var(--accent-color);
    }

    nav.header-nav .header-nav__menu.shown {
        display: flex;
        opacity: 1;
    }

    nav.header-nav .header-nav__menu li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 379px) {

    .heading h1 {
        font-size: 2.25em;
    }

}


header.header .header-main {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}

header.header .header-main__inner {
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    text-align: right;
}

header.header .header-main__logo img {
    max-width: 400px;
}

@media screen and (max-width: 799px) {

    header.header .header-main__logo {
        display: none;
    }

    header.header .header-main__inner * {
        width: 100%;
        text-align: center;
    }

}



/*
    Подвал
*/
footer.footer {
    padding: 60px 0;

    text-align: center;
}

footer.footer .footer-nav__menu li {
    margin: 15px 0;
}



/*
    Copyright
*/
.copyright {
    text-align: center;

    padding: 10px 0;

    background-color: var(--dark-color);
    color: white;
}
