mixin passenger(fio)
  .passenger.hidden
    .heading.d-flex.justify-content-between
      span.fio #{fio}
      .arrow-icon
        i.fas.fa-angle-down
    .info(class = passengers_with_seat ? 'with-seats' : '')
      .row.justify-content-between
        label.name
          | Имя:
          input#name(type="text", name="name")
        label.reg-date
          | Дата регистрации:
          input#reg-date(type="date", name="reg-date")
      .row.justify-content-between
        label.name
          | Фамилия:
          input#surname(type="text", name="surname")
        label.doc-num
          | Номер документа:
          input#doc-num(type="text", name="doc-num")
      .row(class=!passengers_with_seat ? 'justify-content-end' : 'justify-content-between align-items-center')
        - if (!passengers_with_seat)
          button.small Удалить
        - else
          label.seat-there
            | Место туда:
            input#surname(type="text", name="seat-there" disabled)
          label.seat-back
            | Место обратно:
            input#doc-num(type="text", name="seat-back" disabled)
          button.small Занять места
