mixin trust-card(isReverse = false)
  .trust-card
    .row.no-wrap(class=isReverse ? 'row-reverse' : '')
      .col.d-flex.full-center
        span.user-img
          i.fas.fa-user
      .col
        h6(class=isReverse ? 'text-right' : '') Имя пользователя
        article
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt optio assumenda corporis sunt eveniet vel hic perspiciatis, error consequatur.
