@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../mixins/media.scss';

@import './header';
@import './footer';

/**
  =================
  Базовая настройка
*/

* {
  box-sizing: border-box;
  outline: none;
}

body {
  min-width: 400px;

  font-family: $body-ff;
  font-size: $body-fz;

  margin: 0;

  @include xs-screen() {
    font-size: $body-fz - 2;
  }
}

main {
  &.lh-offset {
    margin-left: 30%;
    padding-left: 30px;

    @include md-screen() {
      & {
        margin: 0;
      }
    }
  }

  &.site-content > section {
    padding: 120px 0;

    &:not(:last-child) {
      border-bottom: 2px solid $blue;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  position: relative;

  &:after {
    content: "";

    width: 100%;
    height: 1px;

    opacity: 0;

    background-color: $common-white;

    position: absolute;

    left: 0;
    right: 0;
    bottom: -5px;

    transition: opacity .1s ease-out;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &.accent-link:after {
    background-color: $blue;
  }
}

h1, h2 ,h3, h4, h5, h6 {
  color: $dark-blue;

  &.section-title {
    margin: 0;
    margin-bottom: 30px;

    text-align: center;

    span {
      display: block;

      width: 30%;
      text-align: right;
    }
  }

  &.h-decoration span {
    position: relative;

    &:after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -10px;

      width: 60%;
      height: 3px;

      background-color: $gray;
    }
  }

  &.h-center {
    span {
      text-align: center;
      width: inherit;
    }

    &.h-decoration span:after {
      width: 30%;

      left: 35%;
      right: 35%;
    }
  }
}
h1 {
  font-size: 3.625em;
}
h2 {
  font-size: 3.125em;
}
h3 {
  font-size: 2.625em;
}
h4 {
  font-size: 2.125em;
}
h5 {
  font-size: 1.625em;
}
h6 {
  font-size: 1.125em;
}

button, input[type=button], input[type=submit] {
  margin: 15px 0;
  padding: 10px 45px;

  position: relative;
  top: 0;

  background-color: transparent;

  font-size: 1.5em;
  font-weight: 600;
  color: $blue;

  border: 2px solid $blue;
  border-radius: .25em;

  cursor: pointer;

  transition: all .1s ease-in;

  &:hover {
    background-color: $blue;

    color: $common-white;

    top: -1px;
    @extend %shadowed;
  }

  &.small {
    width: fit-content;

    padding: 5px 25px;

    font-size: 1em;
  }
}

/**
  =========================
  Настройка базовых классов
*/

%shadowed {
  box-shadow: 0 0 10px 0 transparentize($gray, .75)
}

// Классы отобрадения
.d {
  &-none {
    display: none;
    @include md-screen() {
      &-md {
      display: none !important;
      }
    }
  }
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
}
.full-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Классы контейнеров
.page-container {
  padding: 0 30px;
  margin: 0 auto;

  // Медиа запросы
  @include xl-screen() {
      width: $lg-screen-size;
  }
  @include lg-screen() {
      width: $md-screen-size;
  }
  @include md-screen() {
      width: $sm-screen-size;
  }
  @include sm-screen() {
      width: $xs-screen-size;
  }
  @include xs-screen() {
      width: 100%;
  }
}

// Классы flex растяжения
.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-center {
    justify-content: center;

    @include sm-screen() {
      &-sm, &-sm * {
        justify-content: center;
      }
    }
  }
}
.align-content {
  &-between {
    align-items: space-between;
  }
  &-around {
    align-items: space-around;
  }
  &-center {
    align-items: center;

    @include sm-screen() {
      &-sm, &-sm * {
        align-items: center;
      }
    }
  }
}

// Сетка
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-center {
    align-items: center;
  }

  &-reverse {
    flex-direction: row-reverse;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.vertical-center {
    align-items: center;
  }
}
.col {
  display: flex;
  flex-direction: column;

  padding: 0 15px;

  &-reverse {
    flex-direction: column-reverse;
  }
  &.no-gutters {
    padding: 0;
  }
}

// Классы внешнего вида
.dark {
  color: $common-white;
}

.bg {
  &-blue {
    background-color: $blue;
  }
  &-black-blue {
    background-color: $black-blue;
  }
  &-black-blue-grad {
    background: $black-blue-grad;
  }
  &-dark {
    background-color: $common-dark;
  }
}

// Классы текста
.text {
  &-muted {
    color: $gray;
  }
  &-blue {
    color: $dark-blue;
  }
  &-center {
    text-align: center;
  }
  &-bold {
    font-weight: 700;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

// Настройка списков
.unmarked{
  list-style-type: none;
  padding: 0;
}

// Стили разметки
.m0 {
  margin: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.w100 {
  width: 100%;
}

/**
  ===========
  Общие стили
*/
nav {
  padding: 15px 0;

  ul.nav-menu__list li.nav-menu__item {
    margin: 0 15px;

    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    @include xs-screen() {
      text-align: center;
    }
  }
}

img.logo {
  width: 300px;
}

span.phone {
  margin-left: 30px;

  span.phone__phone-number {
    margin-left: 10px;
  }
}
