/**
  =================
  Стили шапки сайта
*/
header.site-header {
  border-bottom: 2px solid $blue;
  padding-top: 80px;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all .15s ease-in-out;

    z-index: 10;
  }

  nav.top {
    border-bottom: 1px solid $blue;
    color: $common-dark;

    & a:after {
      background-color: $blue;
    }
  }

  nav.scroll {
    padding: 0;

    background-color: transparentize($blue, 0.05);

    border: none;
  }

  @include sm-screen() {
    .nav-top__container {
      justify-content: center;
    }

    span.phone {
      display: none;
    }
  }

  main {
    padding: 60px 0 30px 0;

    .page-container {
      text-align: center;
    }

    p {
      margin-top: -2rem;
    }

    .angle-down {
      margin: 75px auto 0 auto;

      & i {
        padding: 5px 15px;
        cursor: pointer;
      }
    }

    &.small {
      padding: 0;
      padding-bottom: 30px;

      .page-container  {
        .c-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        h1, p {
          text-align: right;
        }

        .angle-down {
          margin-top: 30px;
        }
      }

      @include sm-screen() {
        .c-row {
          flex-direction: column;
        }

        h1, p {
          text-align: center !important;
        }
      }
    }
  }
}
