extends common/main-layout.pug

block vars
  - smallHeader = true
  - booking_dark = true
  - passengers_with_seat = false

block content
  include includes/booking/there.pug
  include includes/booking/back.pug
  include includes/booking/passengers.pug
  include includes/booking/final-price.pug
