extends common/main-layout.pug

block content
  include includes/index/accumulation-principle.pug
  include includes/index/trust.pug
  include includes/index/search.pug
  include includes/index/stock.pug
  include includes/index/subscription.pug
