extends common/login-layout.pug

block vars
  - let pageTitle = 'Вход'

block content
  form.row.justify-content-between.align-items-center(action="api/login", method="POST")
    label(for="phone") Телефон
    input#phone(type="tel", name="phone" placeholder="Ваш номер телефона" required)

    label(for="password") Пароль
    input#password(type="password", name="password" placeholder="Придумайте пароль" required)

    button.w100(type="submit") Войти
