extends common/main-layout.pug

block content
  section.seat
    .page-container
      +header('Занять место')
      .row
        h5.h-decoration.m0
          span Пассажир
        select#passanger(name="passanger")
          option(value="Вороненко Витайлий Михайлович") Вороненко Витайлий Михайлович
          option(value="Вороненко Алексей Михайлович") Вороненко Алексей Михайлович
          option(value="Вороненко Анна Петровна") Вороненко Анна Петровна
      .col
        +header('Места')
        .row.justify-content-center
          .col.map.justify-content-around
            span Нос
            span Крылья
            span Хвост
          .separator
          .col.seats
            .col
              .row
                #A1.seat.taken
                #B1.seat
                #A2.seat
                #B2.seat
                #A3.seat
                #B3.seat
                #A4.seat
                #B4.seat.taken
                #A5.seat
                #B5.seat
                #A6.seat
                #B6.seat
                #A7.seat.taken
                #B7.seat
                #A8.seat
                #B8.seat.taken
                #A9.seat
                #B9.seat
                #A10.seat
                #B10.seat
                #A11.seat.taken
                #B11.seat
                #A12.seat
                #B12.seat
            .col
              .row
                #C1.seat
                #D1.seat.taken
                #C2.seat
                #D2.seat
                #C3.seat.taken
                #D3.seat
                #C4.seat.taken
                #D4.seat
                #C5.seat
                #D5.seat
                #C6.seat.taken
                #D6.seat
                #C7.seat
                #D7.seat
                #C8.seat.taken
                #D8.seat
                #C9.seat.taken
                #D9.seat
                #C10.seat
                #D10.seat
                #C11.seat.taken
                #D11.seat
                #C12.seat
                #D12.seat
        button Занять
