/** Брэйкпоинты для размеров экрана */
$xs-screen-size: 576px;
$sm-screen-size: 768px;
$md-screen-size: 992px;
$lg-screen-size: 1200px;
$xl-screen-size: 1200px;


/** Настройки для body */
$body-ff: 'Montserrat';
$body-fz: 14px;


/** Цвета */
$common-white: white;
$common-black: black;
$gray: #8a9cbd;
$blue: #397eff;
$dark-blue: #517cce;
$black-blue: #112141;
